@import "utilities/variables";
@import "secciones/tienda";
@import "secciones/iniciarSesion";
@import "secciones/lookbook";
@import "secciones/passrecover";
@import "secciones/cuentanueva";
@import "utilities/mixins";

/*RESET*/

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

//hoja de estilos del index

body{
    background-color: map-get($map: $colores, $key:background );
}

main{
    background-color: map-get($map: $colores, $key:background );
}

/*estilos para la PRESENTACION*/

.presentacion{
    background-color: map-get($map: $colores, $key:background );
    background-image: url(../img/home/fondoindex.jpeg);
    padding: 400px 100px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    p{
        margin: 3px;
        text-align: center;
        position: relative;
        font-family: 'Montaga', serif;
        color: map-get($map: $colores, $key:blanco );
        font-weight: 550;
    }
    h1{
        position: relative;
        margin: 10px;
        text-align: center;
        font-family: 'Montaga', serif;
        color: map-get($map: $colores, $key:blanco );
    }
    a{
        position: relative;
        padding: 15px;
        font-weight: 650;
        text-decoration: none;
        font-size: 11px;
        font-family: 'Montaga', serif;
        background-color: whitesmoke;
        color: map-get($map: $colores, $key:background );
        &:hover{
        background-color: map-get($map: $colores, $key:background );
        transition: 0.45s;
        color: map-get($map: $colores, $key:blanco );
        border: solid map-get($map: $colores, $key:blanco ) 1px;
        }
    }
}

/* seccion de compras populares*/ 

.prodPopulares{
    background-color: map-get($map: $colores, $key:background );
    p{
        background-color: map-get($map: $colores, $key:background );
        font-family: 'Montaga', serif;
        color: map-get($map: $colores, $key:blanco );
        text-align: center;
        margin-bottom: 5px;
    }
    h2{
        background-color: black;
        font-family: 'Montaga', serif;
        color: map-get($map: $colores, $key:blanco );
        text-align: center;
        margin-bottom: 45px;
    }
    div{
        font-family: 'Gentium Basic', serif;
        font-size: 20px;
        div{
            h2{
                font-family: 'Gentium Basic', serif;
                font-size: 25px;
            }
            a{
                display: flex;
                justify-content: center;
            }
        }
    }
}


/*inicio del footer*/
footer{
background-color: map-get($map: $colores, $key:background );
}
.footer{
margin-top: 200px;
background-color: map-get($map: $colores, $key:background );
}


/*redes sociales*/  
.redesSociales{
    h4{
        font-family: 'Gentium Basic', serif;
        font-size: 15px;
        color: map-get($map: $colores, $key:blanco );
    }
    nav{
        ul{
            li{
                display: inline-block;
                margin: 15px;
            }
        }
    }
}

/*seccion de ayuda del footer*/ 
.ayudaFooter{
    h4{
        font-family: 'Gentium Basic', serif;
        font-size: 20px;
        text-transform: uppercase;
        color: map-get($map: $colores, $key:blanco );
        margin-bottom: 15px;
    }
    nav{
        ul{
            p{
                font-family: 'Gentium Basic', serif;
                font-size: 15px;
                color: map-get($map: $colores, $key:blanco );
                margin: 4px;
            }
        }
    }
}

/*seccion de suscripcion al newsletter*/ 
.newsletter{
    p{
        font-family: 'Gentium Basic', serif;
        font-weight: 400;
        color: map-get($map: $colores, $key:blanco );
        margin-bottom: 3px;
    }
}

/*derechos reservados footer*/ 
.derechos{
    h5{
        font-family: 'Gentium Basic', serif;
        font-size: 15px;
        color: map-get($map: $colores, $key:blanco );
    }
    a{
        text-decoration: none;
        font-family: 'Gentium Basic', serif;
        color: map-get($map: $colores, $key:blanco );   
    }
}