//color para hover oscuro letra chica
$hoverOscuro: rgba(138, 138, 138, 0.842);

//color para letra de cuerpo
$blancoPrincipal: rgba(240, 248, 255, 0.842);

//color para boton importante
$importantColor: #fec400;

//color para blancos llamativos
$blancoLlamativo: white;