@import "../utilities/variables";
@import "../utilities/mixins";

.cuentaNueva{
    font-family: 'Montaga', serif;
    color: map-get($map: $colores, $key:blanco );
    @include flex;
    h1{
        text-align: center;
        margin: 20px;
    }
    p{
        text-align: center;
        margin: 10px;
    }
    form{
        @include flex;
        div{
            input{
                @extend %input;
                &::placeholder{
                    color: map-get($map: $colores, $key:blanco );
                }
            }
        }
        .crearCuenta{
            @extend %importantButton;
            &:hover{
            transition: 0.45s;
            background-color: map-get($map: $colores, $key:background );
            color: map-get($map: $colores, $key:blanco );
            }
        }
        .reset{
            @extend %importantButton;
            &:hover{
            transition: 0.45s;
            background-color: map-get($map: $colores, $key:background );
            color: map-get($map: $colores, $key:blanco );
            }
        }
    }
    a{
        text-decoration: none;
        font-family: 'Montaga', serif;
        color: map-get($map: $colores, $key:blanco );
        &:hover{
            color: map-get($map: $colores, $key:hover );
        }
    }
}
