@import "../utilities/variables";
@import "../utilities/mixins";

.lookbook{
    font-family: 'Montaga', serif;
    color: map-get($map: $colores, $key:blanco );
    section{
        @include flex;
        h2{
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
}
