/*seccion de la TIENDA*/ 

.tienda{
    font-family: 'Gentium Basic', serif;
    color: rgba(240, 248, 255, 0.842);
    text-transform: uppercase;
    h1{
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
        margin-bottom: 50px;
    }
    div{
        div{
            font-family: 'Gentium Basic', serif;
            font-size: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}